#vue-page-1016569968347693057{
  width: 100%;
  height: 100%;
}

#vue-page-1016569968347693057 .el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}
  
#vue-page-1016569968347693057 .el-aside {
  color: #333;
}