

.ebapp-ecode-todowf {
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.ebapp-ecode-todowf-item {
  display: flex;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  cursor: pointer;
}

.ebapp-ecode-todowf-requestname {
  flex: 1;
}

.ebapp-ecode-todowf-creatername {
  flex: 0 0 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ebapp-ecode-todowf-createdatetime {
  flex: 0 0 100px;
}
.ebapp-ecode-todowf-list {
  padding: 12px 0;
}

.ebapp-ecode-todowf-item:hover {
  background-color: rgba(0, 0, 0, .05);
}